/*.quarto-title-banner {
  background-image: url("azul_logo_transp.png");
  background-size: 200px;
  background-position:  top right;
  background-repeat: no-repeat;
}*/


.quarto-title-block {
   text-align:  left;
   color: #2e98fe;
}

h2, h3 {
  color: #2e98fe;
  text-transform: capitalize;
}

ul {
  list-style-type: disc;
}

li::marker {
  color: #2e98fe;
}

h1 {
  background-image: url("azul_logo_transp.png");
  background-repeat: no-repeat;
  background-size:  50px 50px;
  background-position:  right;
  /*background-origin: content-box;*/
}


