.quarto-title-block .quarto-title-banner {
  background-image: url("G:/My Drive/RWork/Projects/'Azul Marinho'/Cultivos/Images/azul_logo_transp.png");
  background-size: 300px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}