.quarto-title-block .quarto-title-banner {
  background-image: url(https://drive.google.com/uc?id=1SN4gu5VzJYlfacpgoVycXNI8JRuswynA);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}